<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studyyoun.install_plugin_custom">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_install_paths" />
        </provider>
    </application>
</manifest>
